@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-matemasie: "Matemasie", serif;
  --font-caveat: "Caveat Brush", serif;
  --font-pacifico: "Pacifico", serif;
  --color-brown: oklch(0.3095 0.131 28.56);
  --color-gold: oklch(0.796 0.182 72.47);
  --color-warmamber: oklch(0.658 0.192  50.68);
  --color-marigold: oklch(0.8 0.1563 71.94)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}